<!DOCTYPE html>

<!--
                             MMMMMM    MMMMMM
                        MMMMMMMMMMMMMMMMMMMMMMMM
                    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
                  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
                  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
                  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
                MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
                MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
                MM  MM      MM..        MM..      MM  MM
                MM  MM      MMMM        MMMM      MM  MM
                MM  MM                            MM  MM
                MM  MM    MMMMMMMMMMMMMMMMMMMM    MM  MM
              MMMM  MM    MM                MM    MM  MMMM
              MM      MMMM    MMMMMMMMMMMM    MMMM      MM
              MM    MM  MM  MM            MM  MM  MM    MM
              MM    MM  MMMM                MMMM  MM    MM
              MMMM  MM    MM                MM    MM  MMMM
                    MM                            MM
                    MMMMMM                    MMMMMM
                  MMMMMMMM      MMMMMMMM      MMMMMMMM
                MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
              MMMMMMMMMMMMMMMMMMMM    MMMMMMMMMMMMMMMMMMMM
            MMMMMMMMMMMMMMMMMMMMMM    MMMMMMMMMMMMMMMMMMMMMM
          MMMMMMMMMMMMMMMMMMMM            MMMMMMMMMMMMMMMMMMMM
        MMMMMMMMMMMMMMMMMMMMMM            MMMMMMMMMMMMMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMM        MMMM        MMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMMMMMM        MMMM        MMMMMMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMM        MMMMMMMMMMMM        MMMMMMMMMMMMMMMMMM
    MMMMMMMMMMMMMMMMMM    MMMMMMMM    MMMMMMMM    MMMMMMMMMMMMMMMM  MM
    MM  MMMMMMMMMMMMMM    MMMMMMMM    MMMMMMMM    MMMMMMMMMMMMMMMMMMMM
  MM    MMMMMMMMMMMMMM        MMMMMMMMMMMM        MMMMMMMMMMMM  MM    MM
  MMMMMMMM  MMMMMMMMMMMMMM        MMMM        MMMMMMMMMMMMMM    MM    MM
MM    MM      MMMMMMMMMMMM        MMMM        MMMMMMMMMMMM      MM    MM
MM    MM        MMMMMMMMMMMMMM            MMMMMMMMMMMMMM          MMMM
MM    MM        MMMMMMMMMMMMMM            MMMMMMMMMMMMMM
  MMMM          MM  MMMMMMMMMMMMMM    MMMMMMMMMMMMMM  MM
              MM      MMMMMMMMMMMM    MMMMMMMMMMMM      MM
              MM        MMMMMMMMMMMMMMMMMMMMMMMM        MM
              MMMM        MMMMMMMMMMMMMMMMMMMM        MMMM
                MMMMMMMM  MMMMMMMMMMMMMMMMMMMM  MMMMMMMM
              MMMM    MMMM    MMMMMMMMMMMM    MMMM    MMMM
              MMMM    MMMM      MMMMMMMM      MMMM    MMMM
            MMMM      MMMM        MMMM        MMMM      MMMM
            MM    MMMMMM                        MMMMMM    MM
            MMMMMMMMMMMM                        MMMMMMMMMMMM


Poncho te saluda, amigo del código!
Si te interesa lo que hacemos, mandanos un email a nrougier@modernizacion.gob.ar =D
-->

  <html lang="es">
    {% include head.html %}
  <body data-spy="scroll" data-target="#navbar-docs">

    {% include header.html %}
    <main id="docs" role="main">
      <section id="docs">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <aside class="page-sidebar">
                {% include sidebar.html %}
              </aside>
            </div>
            <div class="col-md-8 docs-container">
              <h1 class="m-t-0">{{ page.title }}</h1>
              <hr class="m-t-0 m-b-3">

              {{ content }}
            </div>
          </div>
        </div>
      </section>
      
    </main>

    <script src="{{ "/node_modules/jquery/dist/jquery.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/node_modules/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <!-- <script src="{{ "/node_modules/prismjs/prism.js" | prepend: site.baseurl }}"></script> -->

  </body>
</html>
